@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 351 90% 63%;

    --primary-foreground: 345 66% 53%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-outfit);
    color: white;
    background-color: #09090b;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
  }
  /* WebKit browsers (Chrome, Edge, Safari) */
  body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  body::-webkit-scrollbar-track {
    background: #1e1e1e;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #787777;
    border-radius: 4px;
    border: 2px solid #1e1e1e;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

@layer components {
  .main-btn {
    @apply bg-primary text-sm font-medium hover:bg-primary-foreground active:scale-95 rounded-md px-6 py-3 transition-all duration-300;
  }
  .element-center {
    @apply flex items-center justify-center;
  }
  .container-section {
    @apply px-5 md:px-10 lg:px-20 xl:px-24;
  }
  .btn-link {
    @apply bg-primary text-white hover:border-2 hover:border-white opacity-50 transition-all duration-300  hover:opacity-100 flex items-center justify-center 
    w-5 h-5 sm:w-[30px] sm:h-[30px] mx-2 sm:mx-3 rounded-full p-3  
    text-[10px] sm:text-xs;
  }
  .active-btn {
    @apply border-2 border-white font-bold opacity-100;
  }
}
